<html>

<head>
  <script src="jquery-3.3.1.slim"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <title>Venmo Search</title>
  <!--
### Venmo search Flask app variables ###
# start_time=start_time,
# end_time=end_time,
    ## either entered as text or generated via dropdowns using javascript
# resolution
    ## day, week, or month
# title=title, xlabel=xlabel, ylabel=ylabe
    ## Title and labels to be rendered in plot. Reasonable default if not specified.
-->

</head>

<body>
  <div id="container">
    <div class="title">
      <br /><br />
      <h1></h1>
      <br /><br />
    </div>

    <div id="content">

      <div class="container">

        <div class="plot">



          <form method="post" action="{{ url_for('user') }}">

          <h3>Auth key:</h3>
          <input type="text" name="auth_key" value="{{auth_key}}">
          <input type=hidden name="actor_id" value="{{ actor_id }}">

          <br /><br />
          <input type="submit" name="button" id="plot_button" value="Enter" />



        </form>
        </h3>

        <br /><br />

      </div>
    </div>
</body>

</html>
