<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        <title>Venmo Search</title>

<!--
### Venmo search Flask app variables ###
# start_time=start_time,
# end_time=end_time,
    ## either entered as text or generated via dropdowns using javascript
# resolution
    ## day, week, or month
# title=title, xlabel=xlabel, ylabel=ylabe
    ## Title and labels to be rendered in plot. Reasonable default if not specified.
-->

    </head>
    <body>
        <div id="container">
            <div class="title">
            <br /><br />
            <h1>Venmo Search</h1>
            <br /><br />
        </div>

        <div id="content">

                <div class="container">

                  <div class="plot">

                    <h3>{{ dd }}</h3>



                    <img src="{{ url_for('static', filename='plot.png') }}">

                  </div>







              <h3>
                <form method="post" action="{{ url_for('form') }}">

                    <!--
                    <input type="hidden" value="{{ audio_file_id }}" name="audio_file_id" />
                  -->


                  <h3>Search string</h3>
                    <input type="text" size="70" value="{{ search_string }}" name="search_string" />

<!-- Search string options -->

<input type="checkbox" name="case_sensitive" value="true"> Case-sensitive<br>
 <input type="checkbox" name="emoji_tokenize" value="true"> Each emoji considered a token



<!-- Start and end time -->
<h3>Start time</h3>
<input type="date" name="start_time">
<br />

<h3>End time</h3>
<input type="date" name="end_time">
<br />

            <h3>Resolution</h3>
                    <input type="radio" name="resolution" value="day"> Day<br>
                    <input type="radio" name="resolution" value="week"> Week<br>
                    <input type="radio" name="resolution" value="month" checked> Month

                    <br />
            <h3>Auth code:</h3>
                    <input type="text" name="auth_code" value="temp">


                    <br /><br />
                    <input type="submit" name="button" id="plot_button" value="Plot" />



                </form>
            </h3>

            <br /><br />

            </div>
        </div>
    </body>
</html>
