<html>

<head>
  <script src="jquery-3.3.1.slim"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>

  <title>Venmo Search</title>
  <!--
### Venmo search Flask app variables ###
# start_time=start_time,
# end_time=end_time,
    ## either entered as text or generated via dropdowns using javascript
# resolution
    ## day, week, or month
# title=title, xlabel=xlabel, ylabel=ylabe
    ## Title and labels to be rendered in plot. Reasonable default if not specified.
-->

</head>

<body>
  <div id="container">
    <div class="title">
      <br /><br />
      <h1></h1>
      <br /><br />
    </div>

    <div id="content">

      <div class="container">

        <div class="plot">

          <p>{{ start_time }}</p>


          {% if search_string %}

          <h3 id="progress_count">Progress: 0.0%</h3>
          <img src="{{ url_for('static', filename='plot.png') }}" width=1000 id="plot_img">
          <img src="{{ url_for('static', filename='loading.gif') }}" width=200 id="loading_img">

          <script>
          var plot_img_element = document.getElementById('plot_img');
          var loading_element = document.getElementById('loading_img');
          plot_img_element.src = "{{ url_for('static', filename='plot.png') }}";
          plot_img_element.style.display = "none";

          var counter_element = document.getElementById('progress_count');

          function loadFile(filePath) {
            var result = null;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", filePath, false);
            xmlhttp.send();
            if (xmlhttp.status==200) {
              result = xmlhttp.responseText;
            }
            return result;
          }


          var counter_value = loadFile("{{ url_for('static', filename='counter.txt') }}");


          setInterval(function() {
              var plot_img_element = document.getElementById('plot_img');
              plot_img_element.src = "{{ url_for('static', filename='plot.png') }}";
              counter_value = loadFile("{{ url_for('static', filename='counter.txt') }}");
              counter_element.innerHTML = "Progress: " + counter_value;
              if(counter_value == "100.0%"){
                plot_img_element.style.display = "block";
                loading_element.style.display = "none";
                counter_element.style.display = "none";
              }
          }, 5000);



          </script>

          {% endif %}



        </div>



        <form method="post" action="{{ url_for('form') }}">

          <!--
                    <input type="hidden" value="{{ audio_file_id }}" name="audio_file_id" />
                  -->


          <h3>Search string</h3>
          <input type="text" size="70" value="{{ search_string }}" name="search_string" />
          <h4>Search string display name (optional)</h4>
          <input type="text" size="70" value="{{ search_string_name }}" name="search_string_name" />

          <!-- Search string options -->
          <br />

          {% if case_sensitive=='true' %}
            <input type="checkbox" name="case_sensitive" value="true" checked> Case-sensitive<br>
            {% else %}
            <input type="checkbox" name="case_sensitive" value="true"> Case-sensitive<br>
          {% endif %}

          <input type="checkbox" name="emoji_tokenize" value="true"> Each emoji considered a token



          <!-- Start and end time -->
          <h3>Start time</h3>
          <input type="number" name="start_time_unix">
          <br />
          <input type="date" name="start_time">
          <br />

          <h3>End time</h3>
          <input type="number" name="end_time_unix">
          <br />
          <input type="date" name="end_time">
          <br />

          <h3>Resolution</h3>
          <input type="radio" name="resolution" value="day"> Day<br>
          <input type="radio" name="resolution" value="week"> Week<br>
          <input type="radio" name="resolution" value="month" checked> Month

          <br />
          <h3>Auth key</h3>
          <input type="text" name="auth_key" value="{{auth_key}}">


          <br /><br />
          <input type="submit" name="button" id="plot_button" value="Plot" />



        </form>

        <table>
          {% for item in header %}
            <td style="padding: 15px; text-align: left;">
              <b>{{ item }}</b>
            </td>
          {% endfor %}


        </table>

<p><a href="/static/random_messages.csv">Random messages CSV</a></p>


<script>


var data;
	$.ajax({
	  type: "GET",
	  url: "./static/random_messages.csv",
	  dataType: "text",
	  success: function(response)
	  {
		data = $.csv.toArrays(response);
		generateHtmlTable(data);
	  }
	});


</script>



        <br /><br />

      </div>
    </div>
</body>

</html>
