<html>

<head>
  <script src="jquery-3.3.1.slim"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>

  <title>Venmo Search</title>
  <!--
### Venmo search Flask app variables ###
# start_date=start_date,
# end_date=end_date,
    ## either entered as text or generated via dropdowns using javascript
# resolution
    ## day, week, or month
# title=title, xlabel=xlabel, ylabel=ylabe
    ## Title and labels to be rendered in plot. Reasonable default if not specified.
-->

</head>

<body>
  <div id="container">
    <div class="title">
      <br /><br />
      <h1></h1>
      <br /><br />
    </div>

    <div id="content">

      <div class="container">

        <div class="plot">


          {% if search_string %}

          <h3 id="progress_count">Progress: 0.0%</h3>
          <img src="{{ plot_path }}" width=1000 id="plot_img">
          <img src="{{ url_for('static', filename='loading.gif') }}" width=200 id="loading_img">
          <br />
          <a href="{{ csv_path }}" id="csv_link"><b>Download CSV</b></a>

          <script>
          var plot_img_element = document.getElementById('plot_img');
          var loading_element = document.getElementById('loading_img');
          var csv_link = document.getElementById('csv_link');
          plot_img_element.src = "{{ plot_path }}";
          plot_img_element.style.display = "none";
          csv_link.style.display = "none";

          var counter_element = document.getElementById('progress_count');

          function loadFile(filePath) {
            var result = null;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", filePath, false);
            xmlhttp.send();
            if (xmlhttp.status==200) {
              result = xmlhttp.responseText;
            }
            return result;
          }


          var counter_value = loadFile("{{ url_for('static', filename='counter.txt') }}");

          function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
              if ((new Date().getTime() - start) > milliseconds){
                break;
              }
            }
          }

          setInterval(function() {
              var plot_img_element = document.getElementById('plot_img');
              plot_img_element.src = "{{ plot_path }}";
              counter_value = loadFile("{{ url_for('static', filename='counter.txt') }}");
              counter_element.innerHTML = "Progress: " + counter_value;
              if(counter_value == "100.0%"){
                sleep(200);
                plot_img_element.style.display = "block";
                csv_link.style.display = "block";
                loading_element.style.display = "none";
                counter_element.style.display = "none";
              }
          }, 10000);



          </script>

          {% endif %}



        </div>

<div>

        <form method="post" action="{{ url_for('form') }}">
          <br />

          <h3>Search string</h3>
          <input type="text" size="70" value="{{ search_string }}" name="search_string" />
          <br />


          {% if case_sensitive=='true' %}
            <input type="checkbox" name="case_sensitive" value="true" checked> Case-sensitive<br />
            {% else %}
            <input type="checkbox" name="case_sensitive" value="true"> Case-sensitive<br />
          {% endif %}

          {% if raw_count=='true' %}
            <input type="checkbox" name="raw_count" value="true" checked> Use raw string count <i>(Percentage use is default.)</i><br />
            {% else %}
            <input type="checkbox" name="raw_count" value="true"> Raw count (Percentage use of string is default.)<br />
          {% endif %}



<br />

          <i>Search string display name (optional)</i><br />
          <input type="text" size="70" value="{{ search_string_name }}" name="search_string_name" />

          <!-- Search string options -->
          <br />

</div>
<div style = 'float:left;padding: 40px 40px 40px 40px;'>

          <!-- Start and End date -->
          <h3>Start date</h3>
          <!--<input type="number" name="start_date_unix">-->

          <input type="date" name="start_date" value="{{ start_date }}">
          <br />

          <h3>End date</h3>
          <!--<input type="number" name="end_date_unix">-->

          <input type="date" name="end_date" value="{{ end_date }}">
          <br />
</div>

<div style = 'float:left;padding: 40px 40px 40px 40px;'>
          <h3>Resolution</h3>
          {% if resolution=='day' %}
          <input type="radio" name="resolution" value="day" checked> Day<br />
          {% else %}
          <input type="radio" name="resolution" value="day"> Day<br />
          {% endif %}

          {% if resolution=='week' %}
          <input type="radio" name="resolution" value="week" checked> Week<br />
          {% else %}
          <input type="radio" name="resolution" value="week"> Week<br />
          {% endif %}

          {% if resolution=='month' %}
          <input type="radio" name="resolution" value="month" checked> Month<br />
          {% else %}
          <input type="radio" name="resolution" value="month"> Month<br />
          {% endif %}


          <input type="hidden" name="auth_key" value="{{auth_key}}">
          <input type="submit" name="button" id="plot_button" value="Plot" />
</div>

</form>

<!--
        <table>
          {% for item in header %}
            <td style="padding: 15px; text-align: left;">
              <b>{{ item }}</b>
            </td>
          {% endfor %}


        </table>
-->


<br />







{% if random_transaction_length > 0 %}



<div style="clear:both; padding: 40px 40px 40px 40px;">
<!--<p><a href="/static/random_messages.csv">Random messages CSV</a></p>-->

<h3>Random examples</h3>

  <table>

      {% for item in header %}
      <td style="padding: 15px; text-align: left;">
      <b>{{ item }}</b>
      </td>
      {% endfor %}

    {% for row in random_transaction_lol %}

      <tr>
        <td style="padding: 15px; text-align: left;">
          {{ row[0] }}
        </td>
        <td style="padding: 15px; text-align: left;">
          {{ row[1] }}
        </td>
        <td style="padding: 15px; text-align: left;">
          {{ row[2] }}
        </td>
        <td style="padding: 15px; text-align: left;">
          <a href="user?id={{ row[3] }}&pass=true">{{ row[3] }}</a>
        </td>
        <td style="padding: 15px; text-align: left;">
          {{ row[4] }}
        </td>
        <td style="padding: 15px; text-align: left;">
          <a href="user?id={{ row[3] }}&pass=true">{{ row[5] }}</a>
        </td>

      </tr>

    {% endfor %}


  </table>

{% endif %}

<!--
    {% for item in errors %}
      <p>
        {{ item }}
      </p>
    {% endfor %}
-->

</div>


        <br /><br />

      </div>
    </div>
</body>

</html>
