<html>

<head>
  <script src="jquery-3.3.1.slim"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <title>Venmo Search</title>
  <!--
### Venmo search Flask app variables ###
# start_time=start_time,
# end_time=end_time,
    ## either entered as text or generated via dropdowns using javascript
# resolution
    ## day, week, or month
# title=title, xlabel=xlabel, ylabel=ylabe
    ## Title and labels to be rendered in plot. Reasonable default if not specified.
-->

</head>

<body>
  <div id="container">
    <div class="title">
      <br /><br />
      <h1></h1>
      <br /><br />
    </div>

    <div id="content">

      <div class="container">

        <div class="plot">


          <div>
          <h3>{{ actor_name }}</h3>
          <h4>User ID: {{ actor_id }}</h4>
          <h4>Username: {{ username }}</h4>
          <h4>Account created: {{ account_created }}</h4>
          <h4>Outgoing transactions: {{ transaction_count }}</h4>
          <h4>Incoming transactions: {{ incoming_transaction_count }}</h4>
          <img src="{{ picture_url }}" />

        </div>
          <div>

          <h3>Top Friends</h3>
          <table>

            <td style="padding: 15px; text-align: left;">
              <b>Name</b>
            </td>

            <td style="padding: 15px; text-align: left;">
              <b>ID</b>
            </td>

            <td style="padding: 15px; text-align: left;">
              <b>Transactions</b>
            </td>

          {% for row in top_friends %}
            <tr>

                <td style="padding: 15px; text-align: left;">
                  {{ row[0][0] }}
                </td>

                <td style="padding: 15px; text-align: left;">
                  <a href="user?id={{ row[0][1] }}&pass=true">{{ row[0][1] }}</a>
                </td>

                <td style="padding: 15px; text-align: left;">
                    {{ row[1] }}
                </td>

            </tr>
          {% endfor %}
          </table>
</div>


          <br /><br />

          <h3>Outgoing Transactions</h3>

          <table cellpadding="10">
            {% for item in header %}
            <td style="padding: 15px; text-align: left;">
              <b>{{ item }}</b>
            </td>
            {% endfor %}

          {% for row in transaction_lol %}

            <tr>
              <td style="padding: 15px; text-align: left;">
                {{ row[0] }}
              </td>
              <td style="padding: 15px; text-align: left;">
                {{ row[1] }}
              </td>
              <td style="padding: 15px; text-align: left;">
                {{ row[2] }}
              </td>
              <td style="padding: 15px; text-align: left;">
                <a href="user?id={{ row[3] }}&pass=true">{{ row[3] }}</a>
              </td>
            </tr>

          {% endfor %}
          </table>

<br /><br />



          <h3>Incoming Transactions</h3>


                    <table cellpadding="10">
                      {% for item in header_incoming %}
                      <td style="padding: 15px; text-align: left;">
                        <b>{{ item }}</b>
                      </td>
                      {% endfor %}

                    {% for row in incoming_transaction_lol %}

                      <tr>
                        <td style="padding: 15px; text-align: left;">
                          {{ row[0] }}
                        </td>
                        <td style="padding: 15px; text-align: left;">
                          {{ row[1] }}
                        </td>
                        <td style="padding: 15px; text-align: left;">
                          {{ row[2] }}
                        </td>
                        <td style="padding: 15px; text-align: left;">
                          <a href="user?id={{ row[3] }}&pass=true">{{ row[3] }}</a>
                        </td>
                      </tr>

                    {% endfor %}
                    </table>


          <br /><br /><br /><br /><br /><br />


          <form method="post" action="{{ url_for('user') }}">


          <h3>Auth key:</h3>
          <input type="text" name="auth_key" value="{{ auth_key }}">
          </form>

          <br /><br />
          <input type=hidden name="actor_id" value="{{ actor_id }}">

          <input type="submit" name="button" id="plot_button" value="Enter" />



        </div>
      </div>
</body>

</html>
